body
{
    background: rgb(0, 123, 255) url('../images/backgroundWallpaper.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    margin: 0%; padding: 0%;
}
.grid
{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px ;
    grid-template-columns: 80px;
}
.myPc, .Anand, .chrome, .insta, .fb, .trash
{
    cursor: pointer;
}

    .icons, .icoName
    {
        display: flex;
        justify-content: center;
        color: rgb(215, 215, 215);
        font-family: sans-serif;
        text-shadow: 1px 1px 2px black;
        font-size: .9rem;
        letter-spacing: 0.6px;
    }
    .myPc img
    {
        margin-left: -5px;
        width: 48px; 
        height: auto;
    }
    .Anand img
    {
        width: 50px; 
        height: auto;
        margin-bottom: 2px;

    }
    .chrome img
    {
        margin-top: 2px;
        width: 48px; 
        height: auto;
    }
    .insta img
    {
        width: 45px; 
        height: auto;
        margin-top: 2px;
        margin-bottom: 3px;
    }
    .fb img
    {
        width: 48px; 
        height: auto;
        margin-top: 2px;
        margin-bottom: 3px;

    }
    .trash img
    {
        padding-left: 3px;
        width: 50px; 
        height: auto;
    }
nav
{
    width: 100%;
    position: fixed;
    bottom: 0%;
    background-color: #181818;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 3.2rem 24.125rem 3.2rem 3.2rem 3.2rem 3.2rem 1fr 2.2rem 2.2rem 2.2rem 2.2rem 5.5rem 2.2rem 0.4rem;
}
.winBtn
{
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.winBtn:hover
{
    background-color: #fff;
}
.winBtn img
{

    filter: invert(1);
    width: 20px;
    height: auto;
}

.winBtn:hover img
{
    filter: invert(0);
}
.search_section
{
    background-color: #414141;
    display: grid;
    grid-template-columns: 2.5rem 1fr 2.5rem;
}
    .cortana
    {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .outter_shell_cortana{
        background-color: #b3b3b3; 
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
    }
    .inner_shell_cortana{
        background-color: #414141;
        border: 3px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
    }

    .input
    {
        background-color: #414141;
    }
        .search
        {
            width: 100%;
            height: 100%;
            outline: none;
            background-color: transparent;
            border: none;
            color: #fff;
            padding: 4px 0 0 5px;
            font-size: 1rem;
            letter-spacing: 1px;

        }
        .search::placeholder
        {
            color: #b3b3b3;
        }
    .mic
    {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .mic img{
        width: 15px;
        height: auto;
        filter: invert(0.7);
    }
.tab
{

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab img
{
    width: 29px;
    height: auto;
}
.edge
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edge img
{
    width: 30px;
    height: auto;
}
.fileExpr
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fileExpr img 
{
    width: 30px;
    height: auto;
}
.winStore
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;}
.winStore img
{
    width: 30px;
    height: auto;
}
.emty
{
    background-color: #181818;
}
.extraBtn
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;}
.extraBtn img
{
    width: 20px;
    height: auto;
}
.battery
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;}
.battery img
{
    width: 20px;
    height: auto;
}
.wifi
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;}
.wifi img
{
    width: 20px;
    height: auto;
}
.spker
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;}
.spker img
{
    width: 20px;
    height: auto;
}
.time_date
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.time_date p{
    margin: 0%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 0.85rem;
}
.notification
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;}
.notification img
{
    width: 20px;
    height: auto;
}

.start
{
    height: 693px;
    width: 720px;
    position: absolute;
    bottom: 50px;
    left: 0px;
    background-color: #171717;
    display: grid;
    grid-template-rows:1fr ;
    grid-template-columns: 67px 287px 1fr;
    padding-top: 29px;
    box-sizing: border-box;
}
.panel
{
    margin-right: 17px;
    display: grid;
    grid-template-rows: 40px 1fr 164px;
    
}


.mainPanel
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuHider
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuHider img
{
    width: 18px;
    height: auto;
}
.setting img
{
    width: 21px;
    height: auto;
}
.profile img
{
    width: 23px;
    height: auto;
}
.shutdownBtn img
{
    width: 16px;
    height: auto;
}
.profile
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile img
{
    border-radius: 50%;
}
.setting
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shutdownBtn
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.suggested
{color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    margin-top: 4px;

}
.suggested p
{
    font-weight: 100;
    font-size: 0.9rem;
    margin: 0.6rem 0 ;
}
.suggested div
{
    width: 100%;
    height: 38px;
    margin-bottom: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.suggested div img
{
    margin-right: 10px;
}

.gridMenu
{
    display: flex;   
    overflow-y:overlay;
    color: #fff;
    flex-wrap: wrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 1rem;

}
/* width */
.gridMenu::-webkit-scrollbar, .suggested::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  .gridMenu::-webkit-scrollbar-track, .suggested::-webkit-scrollbar-track {
    background: transparent;
    
  }
  
  /* Handle */
  .gridMenu::-webkit-scrollbar-thumb, .suggested::-webkit-scrollbar-thumb {
    background: #858585;
   
  }
  
  /* Handle on hover */
  .gridMenu::-webkit-scrollbar-thumb:hover, .suggested::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.gridTextBox
{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;

}
.gridTextBox p
{
    margin-left: 4px;
}
    .gridBoxes1
    {
        background-color: #1E70B6;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 228px;
        height: 114px;
        margin: 4px 4px 0 4px;
        cursor: pointer;
    }
    .gridBoxes2
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin-top: 4px;
        cursor: pointer;

    }
    .gridBoxes3
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        margin: 4px 0 0px 4px;
        cursor: pointer;
        
    }
    .gridBoxes4
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        margin: 4px 0 0px 4px;
        cursor: pointer;
    }
    .gridBoxes5
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        margin: 4px 0 0px 4px;
        cursor: pointer;
    }
    .gridBoxes6
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        margin: 4px 0 0px 4px;
        cursor: pointer;

    }
    .gridBoxes7
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        margin: 4px 0 0px 4px;
        cursor: pointer;

    }
    .gridBoxes8
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        margin: 4px 0 0px 4px;
        cursor: pointer;

    }
    .gridBoxes9
    {
        background-color: #0072C6;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 4px 0 4px 4px;
        cursor: pointer;

    }
    .gridBoxes10
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 4px 0 4px 4px;
        cursor: pointer;

    }
    .gridBoxes11
    {
        background-color: #0072C5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        cursor: pointer;

        margin: 4px 0 4px 4px;
      }
    .gridBoxes12
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 0 0 4px 4px;
        cursor: pointer;


    }
    .gridBoxes13
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 0 0 4px 4px;
        cursor: pointer;

    }
    .gridBoxes14
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 0 0 4px 4px;
        cursor: pointer;

    }
.gridCombo
{
    display: flex;
    width: 116px;
    height: 116px;
    flex-wrap: wrap;
    margin: 0 2px 0 2px;
}
    .gridBoxes15
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 55px;;
        cursor: pointer;
        margin: 0 2px 0 2px;

    }
    .gridBoxes16
    {
        background-color: #0063B1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 55px;;
        cursor: pointer;
        margin: 0 2px 0 2px;

    }
    .gridBoxes17
    {
        background-color: #107C10;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;  
        cursor: pointer;
        margin: 2px 2px 0 2px;

    }
    .gridBoxes18
    {
        background-color: #0079D8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        cursor: pointer;
        margin: 2px 2px 0 2px;

    }
    .gridBoxes19
    {
        background-color: #0072C5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 228px;
        height: 114px;
        cursor: pointer;

    }
    .gridBoxes20
    {
        background-color: #2B5797;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 4px 0 4px 4px;
        cursor: pointer;

    }
    .gridBoxes21
    {
        background-color: #1D7145;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 4px 0 4px 4px;
        cursor: pointer;


    }
    .gridBoxes22
    {
        background-color: #D04525;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 4px 0 4px 4px;
        cursor: pointer;
    }
    .gridBoxes23
    {
        background-color: #1E70B6;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 0 0 4px 4px;
        cursor: pointer;


    }
    .gridBoxes24
    {
        background-color: #7E3878;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 0 0 4px 4px;
        cursor: pointer;
    }
    .gridBoxes25
    {
        background-color: #077366;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 114px;
        margin: 0 0 4px 4px;
        cursor: pointer;
    }
    .gridBoxes4 img,  .gridBoxes5 img,  .gridBoxes6 img,  .gridBoxes7 img,  .gridBoxes8 img,  .gridBoxes15 img, .gridBoxes16 img, .gridBoxes17 img, .gridBoxes18 img
    {
        width: 25px;
        height: auto;
    }
.mainPanel
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}
.parallax
{
    background: transparent;
}
.applist
{
    cursor: pointer;
}